# Contents

1. **[Introduction to List](#list)   -> [ ]**
2. **[Introduction to Tuple](#tuple)  -> ( )    can not update...**
3. **[Introduction to Dictionary](#Dictionary) -> {:}**
3. **[Introduction to Sets](#sets)  -> {}**

<a id="list"> </a>
## <span style="color:darkolivegreen">**1. Introduction to List**</span>

### Constructing Lists

To create a list, use square brackets `[ ]` and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [1]:
#create a list

course = ['data science', 25 , 'machine learning', 'python', 'Java']
print(course)

['data science', 25, 'machine learning', 'python', 'Java']

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator `[ ]`. Note that the index starts from 0 in python and must be an integer

In [2]:
# Inclusive and Exclusive in Python
# course[0]
course[0:3]
# 0 is inclusive while 3 is exclusive

['data science', 25, 'machine learning']

In [3]:
#Print the second item of the list
course[1]

25

In [4]:
# to access elements from the right
course[-1]

'Java'

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

In [16]:
course

['data science', 25, 'machine learning', 'python', 'Java']

In [15]:
#Print the second last item of the list
course[-2]

'python'

### Slicing of a List
List uses the slicing operator `:` (colon) to extract part of the sequence

In [7]:
#Return last three elements from the list 
course[-3:]

# for slicing in between
course[-3:-1]

['machine learning', 'python']

### Change Item Value
Refer the index number to change the value of a specific item

In [8]:
course

['data science', 25, 'machine learning', 'python', 'Java']

In [9]:
#change the third item
course[3] = 'R'
course

['data science', 25, 'machine learning', 'R', 'Java']

### List Methods
Python has a set of built-in methods that you can use on lists. Some examples are:<br>

`append()`<br>
`insert()`<br>
`reverse()`<br>

You can press the `tab` key to see the list of available methods

**`list.append()`**<br>
This method will add the element at the end of a list

In [33]:
course

['data science', 25, 'machine learning', 'R', 'Java']

In [34]:
# add element to the list
course.append('Python')
course

['data science', 25, 'machine learning', 'R', 'Java', 'Python']

**`list.insert(i, item)`**<br>
This method will insert an element at the ith index in a list

In [35]:
# insert element at 2nd index in a list
course.insert(3 ,'Statistics')
course

['data science', 25, 'machine learning', 'Statistics', 'R', 'Java', 'Python']

**`list.reverse()`**<br>
This method reverses the sorting order of the elements

In [36]:
# reverse the elements in the list
course.reverse()
course

['Python', 'Java', 'R', 'Statistics', 'machine learning', 25, 'data science']

<a id="tuple"> </a>
## <span style="color:darkolivegreen">**2. Introduction to Tuple**</span>

### Creating Tuple
We can have tuple of same type of data items as well as mixed type of data items

In [39]:
# Create a tuple of int, float, string
my_tuple = (45, 5.597, 'Python')
my_tuple

(45, 5.597, 'Python')

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [40]:
# access the second element from the tuple
my_tuple[1]

5.597

### Change Tuple Values
We cannot change the elements of a tuple because elements of <span style="color:crimson">tuples are immutable</span>.

In [41]:
my_tuple

(45, 5.597, 'Python')

In [42]:
# change the second element from the tuple
my_tuple[1]= 6
my_tuple

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
As discussed tuple elements are immutable which also means that we <span style="color:crimson">cannot delete the elements of a tuple</span>. However deleting entire tuple is possible

In [43]:
# delete element from the tuple
del my_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [44]:
del my_tuple

In [45]:
my_tuple

NameError: name 'my_tuple' is not defined

### Tuple Methods

Python has built-in methods that you can use on tuples:<br>

`count()`<br>
`index()`<br>

You can press the `tab` key to see the list of available methods

**`tuple.count()`**<br>
Returns the **number of times** a specified value occurs in a tuple

In [47]:
my_tuple = ('Python is a programming language')

In [49]:
my_tuple.count('P')

1

**`tuple.index()`**<br>
Searches the tuple for a specified value and returns the position of **where** it was found

In [50]:
my_tuple.index('o')

4

    *Note - Find the index for all the o'

<a id="Dictionary"> </a>
## <span style="color:darkolivegreen">**3. Introduction to Dictionary**</span>

**General Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create a Dictionary
Separate keys from values with a colon `:` and a pair from another by a comma `,` Put it all in curly `{}` braces

In [51]:
# Create a dictionary
account = {'Elon': 84654846, 
          'Bezos': 73468464,
          'Mark': 5646875}

account

{'Elon': 84654846, 'Bezos': 73468464, 'Mark': 5646875}

### Accessing Items
You can access the items of a dictionary by referring to its `key name`, inside square brackets

In [52]:
# Get the value of a key
account['Mark']

5646875

### Change Values
Dictionary is <span style="color:crimson">mutable</span>. You can change the value of a specific element by referring to its `key name`

In [53]:
# Change a value
account['Mark'] = 0
account

{'Elon': 84654846, 'Bezos': 73468464, 'Mark': 0}

### **Adding Items**
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [54]:
# Add new item to the dictionary
account['Bill'] = 5468415
account

{'Elon': 84654846, 'Bezos': 73468464, 'Mark': 0, 'Bill': 5468415}

### Dictionary Methods

There are several methods that you can use on a dictionary:<br>

`pop()`<br>
`clear()`

You can press the `tab` key to see the list of available methods

**`dict.pop()`**<br>
This method removes the item with the specified key name

In [55]:
#remove a key from the dictionary
account.pop('Mark')
account

{'Elon': 84654846, 'Bezos': 73468464, 'Bill': 5468415}

**`dict.clear()`**<br>
This method empties the entire dictionary

In [57]:
#clear the dictionary
account.clear()
account

{}

<a id="sets"> </a>
## <span style="color:darkolivegreen">**4. Introduction to Sets**</span>

### Creating a Set
In Python sets are written with curly `{}`brackets

In [11]:
# create a set
s = {1,2,3, 3, 3, 3, 4, 5, 5, 6}
s

{1, 2, 3, 4, 5, 6}

**Try it yourself.**

Python has the following methods that you can use on sets:<br>

`add()`<br>
`update()`<br>
`len()`<br>
`pop()`<br>

In [14]:
s.add('7')
s

{1, 2, 3, 4, 5, 6, '7'}